<!-- Backend Bundle JavaScript -->
<script src="{{ appURL }}/assets/js/backend-bundle.min.js"></script>

<!-- app JavaScript -->
<script src="{{ appURL }}/assets/js/app.js"></script>
</body>
</html>